Page {
  background-color: #000;
}

.page {
  background-color: #000;
}

label {
  color: #fff;
}

/** Permobil Colors **/

.permobil-hero {
  background-color: #000;
}

.permobil-primary {
  background-color: #000;
}

.permobil-ocean {
  background-color: #000;
}

.permobil-sky {
  background-color: #89d4e3;
}

.permobil-dark {
  background-color: #000;
}

.permobil-charcoal {
  background-color: #000;
}

.permobil-bright-yellow {
  background-color: #000;
}

.permobil-orange {
  background-color: #000;
}
