@import '~nativescript-theme-core/css/core.light.css';

Page {
  background-color: #262626;
}

.page {
  background-color: #262626;
}

label {
  color: #fff;
}


WearOsListView {
  height: 100%;
  width: 100%;
}