@import '~nativescript-theme-core/css/core.light.css';

Page {
  background-color: #262626;
}

.page {
  background-color: #262626;
}

.dark-page {
  background-color: #000;
}

label {
  color: #fff;
}

/** Permobil Colors **/

.permobil-hero {
  background-color: #28628e;
}

.permobil-primary {
  background-color: #0067a6;
}

.permobil-ocean {
  background-color: #009ac7;
}

.permobil-sky {
  background-color: #89d4e3;
}

.permobil-dark {
  background-color: #0b5f93;
}

.permobil-charcoal {
  background-color: #414042;
}

.permobil-bright-yellow {
  background-color: #fbe122;
}

.permobil-orange {
  background-color: #ff671f;
}
