.label {
  color: #fff;
}

.font-small {
  font-size: 9;
  vertical-align: middle;
}

.title {
  font-size: 14;
}

.heart-rate {
  font-size: 50;
  color: #fff;
  text-align: center;
  vertical-align: center;
}

.btn {
  background-color: #f05d25;
  font-size: 13;
  color: #fff;
}

.colorSlider {
  /* margin: 5%; */
  height: 20;
  width: 60%;
  color: #f05d25;
}
