.logo {
  horizontal-alignment: center;
  height: 50;
  width: 100%;
}

.label {
  vertical-align: middle;
  padding: 2;
}

.icon {
  height: 24;
  margin: 5;
}

/* old styles */

.font-small {
  font-size: 9;
  vertical-align: middle;
}

.title {
  font-size: 14;
}

.heart-rate {
  font-size: 50;
  text-align: center;
  vertical-align: center;
}

.btn {
  background-color: #f05d25;
  font-size: 13;
  color: #fff;
}
