@import 'variables';

/** Label Line Chart Styles **/
.chart-stack {
  vertical-align: bottom;
  horizontal-align: $center;
}

.chart-max-value {
  font-size: 8;
  color: $white;
  vertical-align: top;
}

.battery-line {
  vertical-align: bottom;
  horizontal-align: $center;
  background-color: #228b22;
  width: 5;
}

.distance-line {
  vertical-align: bottom;
  horizontal-align: $center;
  background-color: #de5f10;
  width: 5;
}

.line-label {
  text-align: $center;
  horizontal-align: $center;
  vertical-align: top;
  color: $white;
  font-size: 12;
}
