@import 'variables';
@import 'common';

/** Change Settings Page **/
#changeSettingsPage {
  .increase-btn {
    @extend .btn-transparent;
    color: $ambient-white;
    font-size: 40;
    height: 50;
    font-family: $ionicon;
    vertical-align: center;
  }

  .decrease-btn {
    @extend .btn-transparent;
    color: $ambient-white;
    font-size: 40;
    height: 50;
    font-family: $ionicon;
    vertical-align: center;
  }

  .cancel-btn {
    @extend .btn-transparent;
    color: $ambient-white;
    font-size: 30;
    font-family: $ionicon;
    height: 50;
    width: 50;
    border-radius: 25;
    horizontal-align: center;
    vertical-align: center;
  }

  .confirm-btn {
    @extend .btn-transparent;
    color: $ambient-white;
    font-size: 30;
    font-family: $ionicon;
    height: 50;
    width: 50;
    border-radius: 25;
    horizontal-align: center;
    vertical-align: center;
  }

  .value-circle {
    height: 100;
    width: 100;
    border-radius: 50;
    horizontal-align: center;
    vertical-align: center;
    background-color: transparent;
    color: $white;

    .changeSettingsTitle {
      text-align: center;
      horizontal-align: center;
      vertical-align: center;
    }

    .changeSettingsValue {
      text-align: center;
      horizontal-align: center;
      vertical-align: center;
    }
  }
}
