@import 'variables';

/** Label Line Chart Styles **/
.chart-stack {
  vertical-align: bottom;
  horizontal-align: $center;
}

.chart-max-value {
  font-size: 8;
  color: $ambient-white;
  vertical-align: top;
}

.battery-line {
  vertical-align: bottom;
  horizontal-align: $center;
  background-color: $ambient-white;
  width: 5;
}

.distance-line {
  vertical-align: bottom;
  horizontal-align: $center;
  background-color: $ambient-white;
  width: 5;
}

.line-label {
  text-align: $center;
  horizontal-align: $center;
  vertical-align: top;
  color: $ambient-white;
  font-size: 12;
}
