@import 'variables';

/** Label Line Chart Styles **/
.chart-stack {
  vertical-align: bottom;
  horizontal-align: center;
}

.battery-line {
  vertical-align: bottom;
  horizontal-align: center;
  background-color: $ambient-white;
  width: 5;
}

.distance-line {
  vertical-align: bottom;
  horizontal-align: center;
  background-color: $ambient-white;
  width: 5;
}

.line-label {
  text-align: center;
  horizontal-align: center;
  vertical-align: top;
  color: $ambient-white;
}
