@import 'variables';
@import 'common';

/** Change Settings Page **/
#changeSettingsPage {
  padding: 5;
  margin: 5;

  .increase-btn {
    @extend .btn-transparent;
    background-color: transparent;
    color: $ambient-white;
    font-size: 35;
    height: 50;
    font-family: $ionicon;
    vertical-align: top;
  }

  .decrease-btn {
    @extend .btn-transparent;
    background-color: transparent;
    color: $ambient-white;
    font-size: 35;
    height: 50;
    font-family: $ionicon;
    vertical-align: bottom;
  }

  .cancel-btn {
    @extend .btn-transparent;
    color: $ambient-white;
    font-size: 25;
    font-family: $ionicon;
    height: 50;
    width: 50;
    border-radius: 25;
    horizontal-align: center;
    vertical-align: center;
  }

  .confirm-btn {
    @extend .btn-transparent;
    color: $ambient-white;
    font-size: 25;
    font-family: $ionicon;
    height: 50;
    width: 50;
    border-radius: 25;
    horizontal-align: center;
    vertical-align: center;
  }

  .value-circle {
    height: 100;
    width: 100;
    border-radius: 50;
    horizontal-align: center;
    vertical-align: center;
    background-color: transparent;
    color: $white;

    .changeSettingsTitle {
      color: $ambient-white;
      text-align: center;
      horizontal-align: center;
      vertical-align: center;
    }

    .changeSettingsValue {
      color: $ambient-white;
      font-size: 24;
      font-weight: bold;
      text-align: center;
      horizontal-align: center;
      vertical-align: center;
    }
  }
}
