@import 'variables';

$sd-battery-color: #fbff22;
$sd-battery-rim-color: #696969;
$watch-battery-color: #ff671f;
$watch-battery-rim-color: #696969;

$connected-color: #006ea4;
$activated-color: #a52f2f;
$deactivated-color: #2fa52f;
$disconnected-color: #a52f2f;
$training-color: #2fa52f;
$tap-color: #a52f2f;

.batteryIconStack {
  background-color: $black;
}

.powerAssistCircle {
  background-color: transparent;
  fill-color: transparent;
  width: 100%;
  height: 100%;
}

.tapCircle {
  bar-color: $tap-color;
  rim-color: $tap-color;
  background-color: transparent;
  fill-color: transparent;
  width: 100%;
  height: 100%;
}

.sdBatteryCircle {
  background-color: transparent;
  fill-color: transparent;
  width: 90%;
  height: 90%;
  bar-color: $sd-battery-color;
  rim-color: $sd-battery-rim-color;
}

.watchBatteryCircle {
  background-color: transparent;
  fill-color: transparent;
  width: 80%;
  height: 80%;
  bar-color: $watch-battery-color;
  rim-color: $watch-battery-rim-color;
}

.topValue {
  color: $white;
  font-size: 18;
  horizontal-align: $center;
  vertical-align: top;
}

.topValueDescription {
  color: $white;
  font-size: 10;
  horizontal-align: $center;
  vertical-align: top;
}

.powerAssist-active {
    @extend .power-assist-btn;
  color: $white;
  background-color: $activated-color;
}

.powerAssist-deactive {
    @extend .power-assist-btn;
  color: $white;
  background-color: $deactivated-color;
}

.powerAssist-training {
    @extend .power-assist-btn;
  color: $white;
  background-color: $training-color;
}

.currentTime {
  color: $white;
  font-size: 18;
  horizontal-align: $center;
  vertical-align: bottom;
}

.currentTimeMeridiem {
  color: $white;
  font-size: 10;
  horizontal-align: $center;
  vertical-align: bottom;
}
