@import 'variables';

/** Settings List on Main-Page **/
.bullet-list-icon {
  font-size: 8;
  font-family: $ionicon;
  color: $ambient-white;
  vertical-align: $center;
  horizontal-align: $center;
  margin: 5 5 5 0;
}

.settings-label {
  font-size: 18;
  font-weight: normal;
  color: $ambient-white;
  vertical-align: $center;
  margin: 5 0 5 0;
}
