@import 'variables';

$update-progress-color: #B9B9B9;
$update-progress-rim-color: $black;
$update-progress-spinner-color: #B9B9B9;

$activated-color: #B9B9B9;
$deactivated-color: #B9B9B9;

.updateProgressCircle {
  background-color: transparent;
  fill-color: transparent;
  width: 100%;
  height: 100%;
  spin-bar-color: $update-progress-spinner-color;
  bar-color: $update-progress-color;
  rim-color: $update-progress-rim-color;
}

.topValue {
  color: $ambient-white;
  font-size: 18;
  horizontal-align: $center;
  vertical-align: top;
}

.topValueDescription {
  color: $ambient-white;
  font-size: 10;
  horizontal-align: $center;
  vertical-align: top;
}

.powerAssist-active,
.powerAssist-deactive,
.powerAssist-training {
    @extend .power-assist-btn;
  color: $ambient-white;
  background-color: $black;
}

.currentTime {
  color: $ambient-white;
  font-size: 18;
  horizontal-align: $center;
  vertical-align: bottom;
}

.currentTimeMeridiem {
  color: $ambient-white;
  font-size: 10;
  horizontal-align: $center;
  vertical-align: bottom;
}
