/** Fonts **/
$ionicon: ionicons, 'ionicons', Ionicons, 'Ionicons';

// Permobil Colors
$permobil-hero: #004f7e !default;
$permobil-prussian: #002855;
$permobil-primary: #0067a6 !default;
$permobil-ocean: #009ac7 !default;
$permobil-sky: #89d4e3;
$permobil-charcoal: #413642 !default;
$permobil-steel: #a7a9a2 !default;
$permobil-titan: #dcddde !default;
$blue-50: rgba($permobil-hero, 0.5) !default;
$blue-20: rgba($permobil-hero, 0.2) !default;
$blue-10: rgba($permobil-hero, 0.1) !default;

// Permobil Accents
$permobil-yellow: #fbff22 !default;
$permobil-orange: #ff671f !default;
$permobil-lime: #c4d600;
$permobil-cousteau: #00c1d5;
$permobil-rose: #e31c79;
$permobil-violet: #753bbd;
$permobil-icon-shadow-orange: rgba(255, 103, 31, 0.6);

// Text colors
$white: #fff;
$black: #000;
$light-black: #111;
$ambient-white: rgb(136, 136, 136);

$center: center;
