@import 'variables';

/** Settings List on Main-Page **/
.bullet-list-icon {
  font-size: 8;
  font-family: $ionicon;
  vertical-align: center;
  horizonta-align: center;
}

.settings-label {
  font-size: 20;
  color: $white;
  margin: 0 0 0 8;
  padding: 4;
}
