@import 'variables.scss';
@import 'common.scss';
@import 'charts-default.scss';
@import 'change-settings-default.scss';
@import 'settings-list-default.scss';

Page {
  background-color: $light-black;
}

.page {
  background-color: $light-black;
}

label {
  color: $white;
}

.hr-blue {
  background-color: #336699;
  width: 100%;
  height: 2;
}
